.coverage
.pytest_cache
/src/*.egg-info
/build/
/dist/
/htmlcov/
/reports/coverage.xml
__pycache__
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
*.log
docs/py-armodel.und
data
src/armodel/tests/test_files/backup.arxml
