.coverage
.pytest_cache
/src/*.egg-info
/build/
/htmlcov/
/reports/coverage.xml
__pycache__
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
*.log
docs/py-armodel.und
data/*.arxml
data/*.lst
data/*.xlsx
src/armodel/tests/test_files/backup.arxml
src/armodel/tests/test_files/SimpleTest.arxml
pytest_html_report.html
pytest_html_report.html
output*.json
tests/coverage.md
tests/coverage.html
tests/coverage.xml
.claude/settings.local.json
